@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
    color: #ffffff;
    background-color: #008cff;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #008cff;
    border-radius: 5px 0px 0px 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #252525;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .animate-blink {
    animation: blink 1s infinite;
  }
  